.c3-axis-y 
{
  font-size: 13px; 
}

.c3-axis-x 
{
  font-size: 13px;
}

/*.c3-legend-item
{
	font-size: 13px;
}*/

/*#datepicker
{
	width: 185px;
	border-style: solid;
	border-width: 2px;
	background-color: #e6e6e6;
	margin-left: 6px;
	margin-top: 20px;
}*/

.demo { position: relative; width: 100px;}
      .demo i {
        position: absolute; bottom: 10px; right: 24px; top: auto; cursor: pointer;
      }


#chart
{
	margin-top: 40px;
}


