.c3-axis-y 
{
  font-size: 13px; 
}

.c3-axis-x 
{
  font-size: 13px;
 
}


/*.c3-legend-item
{
	font-size: 13px;
}*/

/*#datepicker
{
	width: 185px;
	border-style: solid;
	border-width: 2px;
	background-color: #e6e6e6;
	margin-left: 6px;
	margin-top: 20px;
}
*/
.demo {
	position: relative; 
	width: 100px;
	
	}

.demo i {
	position: absolute; 
	bottom: 14px; 
	right: 24px; 
	top: auto; c
	cursor: pointer;
}


#chart
{
	margin-top: 40px;
	margin-bottom: 40px;
	
}

.dropdown-menu-scroll ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.dropdown-menu-scroll ul::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.dropdown-menu-scroll ul::-webkit-scrollbar-thumb {
    background-color: gray;
}

