<div id = "calendar" class="container-fluid"> 
<div class="row bg-title" >
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h3 class="page-title"><b>MAINTENANCE CALENDAR</h3>
            </div>
        </div>

  <div ui-calendar = "uiConfig.calendar" ng-model = "eventSources"></div>


      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header rounded-0">
              <h4 class="modal-title"><b>Maintenance Details</b></h4>
              <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              <h5><b>Assigned : </b> <span ng-bind = "outage_type"> </h5>
              <hr>
              <h5> <b>Cancelled : </b> <span ng-bind = "outage_description"> </h5>
              <hr>
              <h5> <b>Closed : </b> <span ng-bind = "outage_start"> </h5>
              <hr>
              <h5> <b>Completed : </b> <span ng-bind = "outage_end"> </h5>
              <hr>
              <h5> <b>In Progress : </b> <span ng-bind = "outage_staff"> </h5>
              <hr>
              <h5> <b>New : </b> <span ng-bind = "outage_env"></h5>
              <hr>
              <h5> <b>Open : </b> <span ng-bind = "outage_contact"> </h5>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            
          </div>
        </div>
      </div>
</div>

