<!--<p>Hello</p>-->
<style type="text/css">
.c3-xgrid,
.c3-ygrid {
    stroke-dasharray: 0 0;
}

.c3-ygrids line {

    fill: none;
    opacity: 0.4
}

.c3-axis-x-label {
    margin-top: 30px;
}
.c3-tooltip-container {
    background: white;
    border: 1px solid rgb(204, 204, 204);
    font-family: Arial;
    font-size: 16px;
    padding: 2px;
}


main {
    margin: 15px 0 70px;
}
</style>
<main>
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h3 class="page-title"><b>ISM TICKETS</h3>
            </div>
        </div>
        <div class="row" style="padding: 25px">
            <div class=" ">
                <p>Date Range</p>
            </div>
            <div class="col-md-2 col-md-offset-2 demo" style="top :-7px">
                <input type="text" class="form-control" style="cursor: pointer" name="daterange" value="01/01/2018 - 01/01/2050">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            </div>
        </div>
        <div class="white-box" style="height: 150px">
            <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12" style="cursor: pointer" id="incTable"> 
                <div class="info-box">
                    <span class="info-box-icon bg-aqua">
                        <i class="fa fa-envelope-o"></i>
                    </span>
                    <div class="info-box-content" >
                        <span class="info-box-text">Incidents</span>
                        <span class="info-box-number"  ng-bind="inc"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style="cursor: pointer" id="srTable"> 
                <div class="info-box">
                    <span class="info-box-icon bg-aqua">
                        <i class="fa fa-envelope-o"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Service Requests</span>
                        <span class="info-box-number" ng-bind="sr"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style="cursor: pointer" id="crTable"> 
                <div class="info-box">
                    <span class="info-box-icon bg-aqua">
                        <i class="fa fa-envelope-o"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Change Requests</span>
                        <span class="info-box-number" ng-bind="cr"></span>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="white-box">
        <div class="row">
        <div class="col-md-5" >
            <h3 class="box-title">Incidents </h3>
            <div id="chart1"></div>
        </div>
        <div class="col-md-5" >
            <h3 class="box-title">Service Request</h3>
            <div id="chart2"></div>
        </div>
        
        </div>

    </div>
    <div class="white-box">
        <div  >
            <h3 class="box-title">Request Details</h3>
            <div tableview="tableviewOptions" tableview-theme="'material'" ng-if="global"></div>
        </div>
    </div>
    </div>

     <div class="modal fade" id="myModalInc">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header rounded-0">
              <h4 class="modal-title"><b>Details</b></h4>
              <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              <h5><b>Assigned : </b> <span ng-bind = "inc_assign"> </h5>
              <hr>
              <h5> <b>Cancelled : </b> <span ng-bind = "inc_cancel"> </h5>
              <hr>
              <h5> <b>Closed : </b> <span ng-bind = "inc_close"> </h5>
              <hr>
              <h5> <b>Completed : </b> <span ng-bind = "inc_complete"> </h5>
              <hr>
              <h5> <b>In Progress : </b> <span ng-bind = "inc_progress"> </h5>
              <hr>
              <h5> <b>New : </b> <span ng-bind = "inc_new"></h5>
              <hr>
              <h5> <b>Open : </b> <span ng-bind = "inc_open"> </h5>
              
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            
          </div>
        </div>
      </div>

      <div class="modal fade" id="myModalSr">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header rounded-0">
              <h4 class="modal-title"><b>Details</b></h4>
              <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              <h5><b>Assigned : </b> <span ng-bind = "sr_assign"> </h5>
              <hr>
              <h5> <b>Cancelled : </b> <span ng-bind = "sr_cancel"> </h5>
              <hr>
              <h5> <b>Closed : </b> <span ng-bind = "sr_close"> </h5>
              <hr>
              <h5> <b>Completed : </b> <span ng-bind = "sr_complete"> </h5>
              <hr>
              <h5> <b>In Progress : </b> <span ng-bind = "sr_progress"> </h5>
              <hr>
              <h5> <b>New : </b> <span ng-bind = "sr_new"></h5>
              <hr>
              <h5> <b>Open : </b> <span ng-bind = "sr_open"> </h5>
              
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            
          </div>
        </div>
      </div>

      <div class="modal fade" id="myModalCr">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header rounded-0">
              <h4 class="modal-title"><b>Details</b></h4>
              <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              <h5><b>Assigned : </b> <span ng-bind = "cr_assign"> </h5>
              <hr>
              <h5> <b>Cancelled : </b> <span ng-bind = "cr_cancel"> </h5>
              <hr>
              <h5> <b>Closed : </b> <span ng-bind = "cr_close"> </h5>
              <hr>
              <h5> <b>Completed : </b> <span ng-bind = "cr_complete"> </h5>
              <hr>
              <h5> <b>In Progress : </b> <span ng-bind = "cr_progress"> </h5>
              <hr>
              <h5> <b>New : </b> <span ng-bind = "cr_new"></h5>
              <hr>
              <h5> <b>Open : </b> <span ng-bind = "cr_open"> </h5>
              
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            
          </div>
        </div>
      </div>
</main>