<!--<p>Hello</p>-->
<style type="text/css">
.c3-xgrid,
.c3-ygrid {
    stroke-dasharray: 0 0;
}

.c3-ygrids line {

    fill: none;
    opacity: 0.4
}

.c3-axis-x-label {
    margin-top: 30px;
}
.c3-tooltip-container {
    background: white;
    border: 1px solid rgb(204, 204, 204);
    font-family: Arial;
    font-size: 16px;
    padding: 2px;
}


main {
    margin: 15px 0 70px;
}
</style>
<main>
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h3 class="page-title"><b>ISM TICKETS</h3>
            </div>
        </div>
        <div class="row" style="padding: 25px">
            <div class=" ">
                <p>Date Range</p>
            </div>
            <div class="col-md-2 col-md-offset-2 demo" style="top :-7px">
                <input type="text" class="form-control" style="cursor: pointer" name="daterange" value="01/01/2018 - 01/01/2050">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            </div>
        </div>
        <div class="white-box" style="height: 150px">
            <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12"> 
                <div class="info-box">
                    <span class="info-box-icon bg-aqua">
                        <i class="fa fa-envelope-o"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Incidents</span>
                        <span class="info-box-number"  ng-bind="inc"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12"> 
                <div class="info-box">
                    <span class="info-box-icon bg-aqua">
                        <i class="fa fa-envelope-o"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Service Requests</span>
                        <span class="info-box-number" ng-bind="sr"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12"> 
                <div class="info-box">
                    <span class="info-box-icon bg-aqua">
                        <i class="fa fa-envelope-o"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Change Requests</span>
                        <span class="info-box-number" ng-bind="cr"></span>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="white-box">
        <div class="row">
        <div class="col-md-3" >
            <h3 class="box-title">Pie Chart </h3>
            <div id="chart"></div>
        </div>
        <div class="col-md-9" >
            <h3 class="box-title">Table</h3>
            <div tableview="tableviewOptions" tableview-theme="'material'" ng-if="global"></div>
        </div>
        </div>

    </div>
    </div>
</main>