<!--<p>Hello</p>-->
<div class="container-fluid">
	&nbsp;&nbsp;&nbsp;
    <h1>Load Tracker</h1>
    
	    <!-- <div id="monthPicker">
	    	<select ng-model="selectedMonth" ng-options="x for x in months">
			</select>
	    </div> -->
	<!-- <i class="fa fa-calendar" style="font-size: 36px;"></i><input type="text" name="daterange" value="01/01/2018 - 01/01/2050" id="datepicker" />  -->
	<div class = "row">
		<div class="col-md-4 col-md-offset-2 demo">
			<input type="text" class="form-control" name="daterange" value = "01/01/2018 - 01/01/2050" id="datepicker">
		    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
		</div>
	</div>
	
    <div id="chart"></div>
    <!-- <div id="table_data"></div> -->
   
   <!-- <div tableview = "configuration"></div> -->

    <div tableview="tableviewOptions" tableview-theme="'material'" ng-if="global" ></div>


    <!-- <script type="text/ng-template" id="load_logs_ctrl.body.cell.id">
      <a href='#' ng-click='$scope.myFn($row)'>{{$cell}}</a>
    </script> -->

    

</div>
